<h2>Login</h2>

<%= form_with url: login_path do %>

<label>Email</label>
<%= text_field_tag :email %>

<label>Password</label>
<%= password_field_tag :password %>

<%= submit_tag "Login" %>

<% end %>