<div>
<h1>Admin Dashboard</h1>

<p>Total Users: <%= @total_users %></p>
<p>Total Tasks: <%= @total_tasks %></p>
<p>Completed Tasks: <%= @completed_tasks %></p>
<p>Ongoing Tasks: <%= @ongoing_tasks %></p>
</div>
