<div class="mission-page">

  <div class="mission-hero">
    <h1>Our Mission</h1>

    <p>
We are committed to manufacturing high-quality tissue, kitchen and hygiene products that improve daily living.
We strive to empower communities, support sustainable practices, and lead with innovation, integrity, and reliability.
    </p>
  </div>

  <div class="mission-content">

    <div class="mission-section">
      <h2>Quality Drives our Work</h2>

      <p>

      </p>
    </div>
    </div>

  </div>

</div>