<div class="vision-page">

  <div class="vision-hero">
    <h1>Our Vision</h1>

    <p>
To become East Africa’s most trusted and innovative provider of everyday hygiene
and household essentials, delivering superior quality,
sustainable products, and exceptional value to every home, business, and community we serve.
    </p>
  </div>

  <div class="vision-content">

    <!--div class="vision-card">
      <h2>Global Reach</h2>

      <p>
        Building a newsroom capable of reaching
        audiences across borders through compelling
        journalism and innovation.
      </p>
    </div>

    <div class="vision-card">
      <h2>Next-Generation Storytelling</h2>

      <p>
        Leveraging technology, AI, and multimedia
        experiences to redefine how audiences consume news.
      </p>
    </div>

    <div class="vision-card">
      <h2>Community Impact</h2>

      <p>
        Creating journalism that inspires action,
        civic participation, and positive social change.
      </p>
    </div>

  </div-->

</div>